*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(182, 181, 181);
}

#navbar h1{
    font-style:italic;
}




html{
    font-family: "opens sans", sans-serif;
}
a{
    text-decoration: none;
    color: white;
    
}
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 90px;
}
#navbar ul{
    list-style-type:none;
    display: flex;
    align-items: center;
    
}
#navbar ul li a{
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
    
    
}
#navbar ul li a:hover{
    background: rgb(182, 181, 181);
    border-radius: 4px;
    color: black;

}

/*home section*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;

}

#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2 {
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}

#home .name p{
    opacity: 0.6;
    font-style: italic;
}

#home a {
    margin-top: 1.25rem;
    background: rgb(82, 82, 82);
    padding: 0.8rem 3rem;
    border-radius: 5px;
    letter-spacing: 2px;
}

#home a:hover {
    background: white;
    border: 1px solid black;
    color: black;
    
}


.footer ul{ 
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
   

}

.footer ul li a{
    padding: 1rem;
    font-size: 2rem;
    color: rgb(71, 71, 71);
}

.footer ul li a:hover{
    color: black;
}


h3{
    color: rgb(39, 39, 39);
}

.contact{
    padding: 1rem;
}

.footer .contact-form{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;

}

.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1.5rem;
    border-radius: 5px;
    resize: none;
}